PORT=5000
GOOGLE_SERVICE_ACCOUNT_EMAIL=resume-service@resume-scanner-508710.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
