PORT=5000
DEFAULT_GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/1O84kcu_A4V4Chsb6TPQEwGNxhuqu1Qml431I7yEQu3I/edit?gid=0#gid=0
GOOGLE_SERVICE_ACCOUNT_EMAIL=resume-service@resume-scanner-508710.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
JWT_SECRET=your_custom_jwt_secret_key
ADMIN_SECRET=admin123

